.container{
  display: flex;
  margin-top: 0;
  
}


.link{
  text-decoration: none;
  color: inherit;
}

body {
  background-color:#f5f5f5; /* replace with the color of your choice - I replaced color #e8dab2 with the figma color #f5f5f5  */
  
}
